
<header class="header">
<div class="container">
<h1>Vver Khurana</h1>
<p class="tagline">Game Programmer • Gameplay Systems • Tools Development</p>

<nav class="nav">
<a class="pill" href="/Portfolio/index.html">Home</a>
<a class="pill" href="/Portfolio/mainPages/projects.html">Projects</a>
<a class="pill" href="/Portfolio/mainPages/about.html">About</a>
<a class="pill" href="/Portfolio/mainPages/skills.html">Skills</a>
<a class="pill" href="/Portfolio/mainPages/contact.html">Contact</a>
</nav>

<nav class="nav">
<a class="pill" href="https://drive.google.com/file/d/1QLRtiXHEt1LjkJcnL7Da1LDjVqjrYMrx/view?usp=sharing" 
    target="_blank" rel="noopener noreferrer">Resume</a>
<a class="pill" href="https://www.linkedin.com/in/vver-khurana-674081271/" 
    target="_blank" rel="noopener noreferrer">
    <img class="icon" src="/Portfolio/assets/Buttons/LinkedIn_icon.webp"></a>
</nav>

</div>
</header>
